<h1>Welcome to Our Veterinary Web Application</h1>
       

        <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div class="container">
        <h1>HOME PAGE</h1>
        <p>
            Here at Glooom veterinary clinic, we offer high-quality services for your pet.
            Whether it's a routine examination or an emergency visit, our highly skilled
            veterinarians are ready to help.
        </p>
    </div>

    <%- include('../partials/footer'); %>
</body>
</html>